.logo{
	max-height:200px;
	max-width:200px;
}

.depiction{
	max-height:400px;
	max-width:400px;
}

#name{
	width: 25%;
}

#maptop{
	max-width: 50%;
}

#flagtop{
	float:right;
	margin-right: 10%;
	max-height:250px;
	max-width:40%;
}